@charset "UTF-8";
@font-face {
    font-family: Idroid;
    src: url(idroid.otf) format('opentype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: rgba(129, 170, 129, 0.759);
    margin: 0px;
}

header {
    text-align: center;
    background-image: linear-gradient(360deg, rgb(15, 66, 15), rgb(65, 176, 55) );
    padding: 10px;
    height: auto;
}

header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    padding: 0px;
    font-size: 3em;
}

header > h5 {
    font-weight: lighter;
    color: white;
    padding: 0px;
}

header > nav {
    text-align: left;
    font-weight: normal;
    color: white;
}

header > nav > div {
    padding-left: 5px;
    display: inline-block;
    margin-right: 15px;
}

header > nav :hover {
    text-shadow: 2px 3px 7px black;
    cursor: pointer;
}

main {
    background-color: rgb(245, 245, 234);
    width: 1000px;
    padding: 10px;
    margin: 0 auto;
    font-family: Idroid, Times, serif;
    color: #2FA866;
    border-radius: 10px;
}

main > h1 {
    font-size: 2em;
}

h2 {
    background-image: linear-gradient(90deg, rgba(92, 150, 92, 0.554), rgba(37, 129, 37, 0.057));
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-indent: 47px;
}

p > a {
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}

p > a :hover {
    text-shadow: 2px 3px 7px black;
    cursor: pointer;
}

img {
    width: 500px;
    display: block;
    margin: auto;
}

#irina{
    width: 990px;
}

section {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 970px;
    background-color: rgb(147, 208, 147);
    color: black;
    border-radius: 10px;
    padding: 10px;
}

section > article > h3 {
    background-color: darkgreen;
    color: white;
    border-radius: 10px ;
    padding: 10px;
    border: 0px;
    outline: 0px;
    margin: 0px;
}

section > article > ul > li {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

aside > iframe {
    display: block;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    width: 930px;
    background-color: green;
}

span {
    color: darkgreen;
    font-weight: bold;
}

ul {
    list-style-type: square;
    display: inline-block;
}

footer {
    background-color: rgb(38, 113, 38);
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: lighter;
}

footer > span{
    color: white;
}
