@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    color: #121210;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to top, #13678A, #012030);
}

main{
    background-color: antiquewhite;
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 5px 5px 15px #000f17;
}

h1{
    color: #066797;
    text-align: center;
    text-shadow: 1px 1px 2px #000f17; 
}

h2{
    color: #004461;
}

p{
    text-align: justify;
}